.rates__pic {
  width: 866px;
  height: 307px;
  display: block;
  max-width: 100%;
  // margin-left: auto;
  // margin-right: auto;
}

.main__content{
  width: 880px;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}