.breadcrumbs {
  margin-bottom: 13px;
}

.breadcrumbs__item, .bredcrumbs__link, .breadcrumbs__separator{
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after{
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__link {
  color: #5973b1;
  font-size: 14px;
  font-style: italic;
}

.breadcrumbs__item--active:after{
  display: none;
}


// прописываетс зависимость от модификатора
.breadcrumbs__item--active .breadcrumbs__link{
  color: #272525;
  text-decoration: none;
}


