.crew{
  // // height: 350px;
  // width: auto;
}
.crew__list {
  display: flex;
  flex-wrap:wrap;
  text-align: center;
}
.crew__main{
  display: inline-block;
  width: 850px;
  text-align: left;
}

.crew__pic{
  width: 160px;
  height: 160px;
  margin: 5px 20px;
}
.crew__item{
  // calc умет работать с вычислениями
  // width: calc(100% / 3 - 20px);
  display: flex;
  flex-basis: 250px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 15px 5px;
}

.crew__desc{
  display: inline-block;
  vertical-align: top;
  width: auto;
}

