.header__container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.header__logo {
  

}

.contacts {
  font-family: Roboto;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.contacts__phone {
  color: inherit;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}

.contacts__hours {
  font-size: 14px;
  font-weight: bold;
  opacity: .7;
}
