.rates__pic {
  width: 866px;
  height: 307px;
  display: block;
  max-width: 100%;
  // margin-left: auto;
  // margin-right: auto;
}

.main__content{
  width: 70%;
  // display: inline-block;
  // vertical-align: top;
}

.sidebar {
  width: 20%;
  // display: inline-block;
  // vertical-align: top;
}

.page-content__container{
  display: flex;
}