
.news__title {
  font-family: Roboto;
  font-size: 49px;
  line-height: 38px;
  font-weight: bold;
  color: #262424;
  text-transform: uppercase;
  text-align: left;
}

.news__list{
  list-style: none;
}
.news--vertical{
  display: flex;
}
.news--vertical .news__item{
  display: flex;
  flex-direction: column;
}

.news--vertical .news__avatar{
  display: flex;
  justify-content: center;
  width: initial;

}
.avatar{
  max-width: 160px;
  height: 160px;
  overflow: hidden;
}
.avatar__pic {
  // margin-right: 20px;
  // margin-bottom: 62px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.news__item {
  display: flex;
  margin-top: 50px;
}

// .news__avatar{
//   width: 25%;
// }

.news__desc{
  display: inline-block;
  width: 65%;
  text-align: left;
  vertical-align: top;
  margin-top: 60px;
}

.news__date{
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #656464;
}

.news__subtitle{
  font-size: 18px;
  font-weight: 700;
  color: #262424;
}


.news__text{
  font-size: 18px;
  line-height: 30px;
  color: #262424;
}


/* пагинация */




