.reviews{
  height: 350px;
  width: auto;
}
.reviews__list {
  display: flex;
  flex-wrap:wrap;
  text-align: center;
}
.reviews__main{
  display: inline-block;
  width: 850px;
  text-align: left;
}

.reviews__pic{
  width: 160px;
  height: 160px;
  margin: 5px 20px;
}
.reviews__item{
  width: 265px;
  display: inline-block;
  margin: 15px 5px;
}

.reviews__desc{
  display: inline-block;
  vertical-align: top;
  width: auto;
}
