
.reviews{
  width: auto;
}
.reviews__list {
  display: flex;
  flex-direction: column;
}
.reviews__main{
  display: flex;
  flex-direction: column;
  width: 850px;
  text-align: left;
}


.reviews__pic{
  width: 160px;
  height: 160px;
  margin: 5px 20px;
}
.reviews__item{
  width: 800px;
  display: flex;
  margin: 15px 5px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.reviews__item:before{
  content: "";
  height: 1px;
  left: 0;
  right: 20%;
  position: absolute;
  bottom: 0;
  background: grey;
}

.reviews__item:last-child{
  padding-bottom: 0;
  margin-bottom: 0;
}

.reviews__item:last-child:before{
  display: none;
}

.reviews__desc{
  display: inline-block;
  vertical-align: top;
  width: auto;
}
